<!DOCTYPE html>
<html>  
<head><link rel="stylesheet" href= "style2.css">
<style> 


</style>

</head>
<body>  

<div class="backg">    

</div>

<button class="bar1"><p style=" font-size: 50px; 
font-family: 'Pacifico', cursive; margin: 5px; text-align: center;">
 Welcome 
</p>   </button>
<a href="../1Frontpage/index.html">
<button class="backbutton"><p style=" font-size: 20px;
font-family: 'Pacifico', cursive; 
margin: 5px; text-align: center;">
Back
</p></button></a>

</body>
















</html>